body{
    text-align: center;
    margin:0px;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

p{
    line-height: 2;
}

div{
    background-color: #e4f9f5;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.topcontainer{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}


#headshot{
    border-radius: 100%;

}

.dev{
    text-decoration: underline;
}

.bottomcloud{
position: absolute;
left: 35%;
bottom: 300px;
}

.topcloud{
    position: absolute;
    right: 35%;
    top: 50px;
}

#developer{
    font-size: 2.5rem;
}

a{
    color: #11999E;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    overflow: auto;
}

.skillimg{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skillimg2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  hr{
    border-style: dotted none none none;
    color: green;
    width: 4%;
    border-width: 5px;
    margin: 100px auto;
  }

  .midcontainer{
    padding: 50px;
  }

  .botcontainer{
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }

  a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }

  #copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }

  #contactmeh3{
    margin-bottom: 50px;
  }